* {
    box-sizing: border-box;
    
}

body {
    background-color: gray;
  }
  
  #box {
    background-color: blue;
    padding: 10px 30px 15px 20px;
    width: 300px;
    height: 50px;
    overflow: auto;
    margin: 10px;
  }

  #content {
    background-color: #90EE90; /*green*/
  }
  
  h1 {
    margin-bottom: 30px;
  }
